.label-class {
  margin-right: 2px;
}

.input-class {
  margin-right: 10px;
}

#webview-body {
  display: flex;
  flex-direction: column;
}

#form-class {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
}

#session-form {
  display: flex;
  align-items: center;
}

#submit-button {
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  #webview-body {
    padding: 0 8rem;
    max-width: 1024px;
    margin: 0 auto;
  }
}
